.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}


#inputs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  justify-content:space-between;
}

#mainbox {
  display: flex;
  height: 200px;
  width: 450px;
  justify-content: center;
}

#boxbackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 300px;
  border-radius: 25px;
  margin-top: 50px;
  background-color: aliceblue;
}

#verbs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  flex-direction: wrap;
  justify-content: space-around;
}

#verb {
  display: flex;
  background-color:aliceblue;
  width:fit-content;
  height:fit-content;
  border-radius: 25px;
  margin: 20px;
}

#textarea {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

#verbtext {
  color: black;
}

#verbmeans {
  color: black;
}

#insidetext {
  display: flex;
  font-size: 10px;
}

#start {
  color: aliceblue;
  margin-top: 40px;
  cursor: pointer;
}

#modalbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;

}

#modalinside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonbg {
  background-color: aquamarine;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: blue;
  cursor: pointer;
  border: 1px solid black;
}
#buttonbg2 {
  color: rgb(18, 165, 175);
  cursor: pointer;
}

#logo {
  width: 500px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}



